#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials
#define WIFI_SSID = "YOUR WIFI SSID";
#define WIFI_PASS = "YOUR WIFI PASSWORD";

// Project Constants
// use https://raw.githubusercontent.com/username/repo-name/branch-name/path
#define VERSION_URL = "YOUR version.txt LINK";
#define FIRMWARE_URl = "YOUR firmware.bin LINK";
#endif